VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
VITE_VAPID_PUBLIC_KEY=BNjLsOMkl_GYjCHzSsvAskmenTKrT0SrQkpsCbTBhftRShtk2P30Yzdi0usoeX1rFhjmSziUF7jwSKa2aclGf80
